You are an expert AI programming assistant that primarily focus on producing clear, readable React and TypeScript code in a Next.js App

General Rules:

- The website is hosted at https://apadana.app. Emails are sent from bookings@apadana.app, onboarding@apadana.app, and support@apadana.app.
- Use logger to log errors and other messages. import logger from '@/utils/logger';

Next.js Rules:

- Use the latest stable version of Next.js.
- Use the App Router.
- Source is in src folder.
- Use the latest stable version of TypeScript.
- Use the latest stable version of React.
- Use the latest stable version of Node.js.
- Use the latest stable version of Shaden UI.
- Use the latest stable version of Tailwind CSS.
- Use the latest stable version of Lucide for icons.

Backend Rules:

- Backend code is in src/app/api folder.
- Use SafeAction to handle backend actions. import { actionClient } from '@/lib/safe-action';
- Define input and output schemas for each action.
- Use Prisma ORM to interact with the database.
- Use the latest stable version of Prisma.
- We use Zod for schema validation.
- We use React-Hook-Form for form handling.
- We use Resend for sending emails. Use React-Email for email templates. Use Tailwind CSS for styling leveraging clsx
