# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# next-sitemap
robots.txt
sitemap.xml
sitemap-*.xml
*storybook.log
storybook-static/
/test-results/
**-test-results/
**-html-report/
/playwright-report/
/blob-report/
/playwright/.cache/

# playwright
playwright/.auth

# Test uploads
public/images/e2e/uploads/

# Unit test
!.env.test

# Do not allow new files in root
.*
package-updates-summary.md

# Files that *are* allowed in root
!README.md
!.gitignore
!components.json
!package.json
!pnpm-lock.yaml
!tsconfig.json
!.storybook/
!.vscode/
!.husky/
!.github

# Serialized repo
repo-serialized/

# Temporary scripts
*.fish
*.sh
*.bash
