# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# next-sitemap
robots.txt
sitemap.xml
sitemap-*.xml
*storybook.log
storybook-static/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# playwright
playwright/.auth

# prisma
src/__generated__/prisma

# Test uploads
e2e/uploads/

# Do not allow new files in root
.*
total 1568
!Dockerfile.dev
!Dockerfile.prod
!README.md
!components.json
!docker-compose.prod.yml
!docker-compose.yml
!docker-entrypoint.dev.sh
!environment-variables.ts
!jest.config.ts
!jest.setup.ts
!next-env.d.ts
!next-sitemap.config.js
!next.config.ts
!package.json
!playwright.config.ts
!pnpm-lock.yaml
!postcss.config.js
!renovate.json
!tailwind.config.ts
!tsconfig.json
!vercel.json
